@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

.gear {
    animation: gear 4s infinite linear;
}

@keyframes gear {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.d-none {
    max-height: 0;
    overflow: hidden;
}

.active .down-arrow {
    transform: rotate(180deg);
}

.active .accordion-details {
    max-height: 200px;
}