@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

.gear {
    animation: gear 4s infinite linear;
}

@keyframes gear {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}

.arrow {
    animation: arrow-animate 500ms linear infinite;
}


.arrow-two {
    animation: arrow-animate 505ms linear infinite;
}

.arrow-three {
    animation: arrow-animate 509ms linear infinite;
}

.arrow-four {
    animation: arrow-animate 513ms linear infinite;
}

.arrow-five {
    animation: arrow-animate 517ms linear infinite;
}

.arrow-six {
    animation: arrow-animate 521ms linear infinite;
}

@keyframes arrow-animate {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0;
    }
}

.d-none {
    max-height: 0;
    overflow: hidden;
}

.active .down-arrow {
    transform: rotate(180deg);
}

.active .accordion-details {
    max-height: 200px;
}